In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("original_data/housing.data", header=None)

In [7]:
df[]

                                                     0
0     0.00632  18.00   2.310  0  0.5380  6.5750  65...
1     0.02731   0.00   7.070  0  0.4690  6.4210  78...
2     0.02729   0.00   7.070  0  0.4690  7.1850  61...
3     0.03237   0.00   2.180  0  0.4580  6.9980  45...
4     0.06905   0.00   2.180  0  0.4580  7.1470  54...
..                                                 ...
501   0.06263   0.00  11.930  0  0.5730  6.5930  69...
502   0.04527   0.00  11.930  0  0.5730  6.1200  76...
503   0.06076   0.00  11.930  0  0.5730  6.9760  91...
504   0.10959   0.00  11.930  0  0.5730  6.7940  89...
505   0.04741   0.00  11.930  0  0.5730  6.0300  80...

[506 rows x 1 columns]

In [10]:
df.shape

(506, 1)

In [11]:
df['values'] = df [0]

In [13]:
df['v1']=df['values'].apply(lambda x: x.split(' ')[1])

In [14]:
df

,0,values,v1
0,0.00632 18.00 2.310 0 0.5380 6.5750 65...,0.00632 18.00 2.310 0 0.5380 6.5750 65...,
1,0.02731 0.00 7.070 0 0.4690 6.4210 78...,0.02731 0.00 7.070 0 0.4690 6.4210 78...,
2,0.02729 0.00 7.070 0 0.4690 7.1850 61...,0.02729 0.00 7.070 0 0.4690 7.1850 61...,
3,0.03237 0.00 2.180 0 0.4580 6.9980 45...,0.03237 0.00 2.180 0 0.4580 6.9980 45...,
4,0.06905 0.00 2.180 0 0.4580 7.1470 54...,0.06905 0.00 2.180 0 0.4580 7.1470 54...,
...,...,...,...
501,0.06263 0.00 11.930 0 0.5730 6.5930 69...,0.06263 0.00 11.930 0 0.5730 6.5930 69...,
502,0.04527 0.00 11.930 0 0.5730 6.1200 76...,0.04527 0.00 11.930 0 0.5730 6.1200 76...,
503,0.06076 0.00 11.930 0 0.5730 6.9760 91...,0.06076 0.00 11.930 0 0.5730 6.9760 91...,
504,0.10959 0.00 11.930 0 0.5730 6.7940 89...,0.10959 0.00 11.930 0 0.5730 6.7940 89...,
505,0.04741 0.00 11.930 0 0.5730 6.0300 80...,0.04741 0.00 11.930 0 0.5730 6.0300 80...,